<div class="form-tareas">
    <form role="form" (ngSubmit)="TareaNueva()" #tareaForm="ngForm">
        <legend>Form title</legend>


        <div class="form-group">
            <label for="">Nombre de la tarea</label>
            <input #nombre="ngModel" [(ngModel)]="nuevaTarea.Nombre" name="nombre" type="text" class="form-control" id="">
        </div>
        <div class="form-group">
            <label for="">Descripción</label>
            <textarea #descripcion="ngModel" [(ngModel)]="nuevaTarea.Descripcion" name="descripcion" type="text" rows="5" class="form-control" id="" placeholder="Input field"></textarea>
        </div>


        <button type="submit" class="btn btn-success">Guardar</button>
    </form>
</div>